body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.main-header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding:35px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.main-nav {
    display: flex;
    justify-content: center;
    background-color: #000; /* Optional: for visual consistency with header */
}

.main-nav ul {
    display: flex;
    justify-content: space-around; /* Spreads out the nav items evenly */
    width: 100%; /* Full width of the nav container */
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-nav li {
    flex-grow: 1; /* Allows each li to grow and take equal space */
    text-align: center; /* Center-aligns the text in each li */
}

.main-nav a {
    display: block;
    padding: 10px 0;
    color: #fff;
    text-decoration: none;
    transition: border-bottom 0.3s ease;
    border-bottom: 2px solid transparent; /* Invisible border by default */
}


.main-nav a:hover {
    border-bottom: 2px solid #fff; /* Visible border on hover */
}
.culture-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #e0e0e0;
}

#american-cars {
    background-color: #000000;
    flex-direction: row-reverse;
    color: #ddd;
}

.culture-image {
    width: 50%;
    height: auto;
    border-radius: 8px;
    opacity: 0; /* initially hidden */
    transform: translateY(20px); /* slightly move down */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.culture-info {
    width: 40%;
    text-align: left;
}

.learn-more-btn {
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: medium;
}

.learn-more-btn:hover {
    background-color: rgb(188, 184, 184);
    color: rgb(0, 0, 0);
}
.learn-more-btn2 {
    padding: 10px 20px;
    background-color: rgb(250, 246, 246);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: medium;
}

.learn-more-btn2:hover {
    background-color: rgb(131, 131, 131);
    color: rgb(250, 247, 247);
}
/* Media queries for responsiveness */
@media (max-width: 768px) {
    .culture-section {
        flex-direction: column;
        text-align: center;
    }

    .culture-image, .culture-info {
        width: 100%;
    }

    #american-cars {
        flex-direction: column;
    }
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}
#car-history {
    position: relative;
    color: white;
    text-align: center;
    overflow: hidden; /* Prevents overflow */
    height: 600px; /* Adjust this value as needed */
}

#carHistoryVideo {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures video covers the whole area without distortion */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
}

/* Style for overlay text */
.video-overlay h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.video-overlay p {
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    text-align: center;
}
.main-footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-menu h3 {
    margin-top: 0;
}

.footer-menu p, .footer-menu a {
    color: #ddd;
}

.footer-menu a {
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-menu a:hover {
    color: #fff;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin-right: 20px;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: white;
}
